{{>header}}
<h2>Debe Regsitrarse primero antes de matricularse a cualquier curso</h2><br>
<a href="/interesados/registrar">Registrarse</a><br><br>
<a href="/interesados/ver-cursos">Volver al listado de cursos</a>

{{>footer}}