{{>header}}
    <ul>
        {{#each cursos}}
            <li>
                Nombre: {{this.nombre}}<br>
                Descripción: {{this.descripcion}}<br>
                Valor: $ {{this.valor}} COP<br> 
                <a href="/interesados/curso-detalle?id={{this.id}}">ver más</a><br>
            </li>
        {{/each}}
    </ul>
{{>footer}}